<mat-card class="container">

  <button (click)="isNewGroup = true" [ngClass]="{'height200' : isNewGroup}" mat-flat-button class="add-new-button muscle-group">

    <fa-icon *ngIf="!isNewGroup" [icon]="faPlus"></fa-icon>

    <div *ngIf="isNewGroup" class="add-new-card">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Kas Grubu İsmi" [(ngModel)]="newMuscleTitle">
      </mat-form-field>

      <button mat-stroked-button (click)="cancelAddMuscleGroup($event)">
        İptal
      </button>
      <button mat-stroked-button (click)="addNewMuscleGroup()">
        Oluştur
      </button>
    </div>

  </button>

  <mat-accordion>

    <mat-expansion-panel class="muscle-group" *ngFor="let item of this.muscleGroups ; let i = index ">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.title}}
        </mat-panel-title>
        <button class="delete" mat-icon-button (click)="deleteMuscleGroupHandle(item.title , $event , i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-expansion-panel-header>


    </mat-expansion-panel>

  </mat-accordion>

</mat-card>
