<div class="navbar-container">

  <div class="home-icon">
    <fa-icon [icon]="global.icons['headerIcon']" size="3x"></fa-icon>
  </div>

  <nav>
    <div class="nav-item-container" *ngFor="let navItem of global.pages">
      <div class="nav-item">
        <a [routerLink]="navItem.path" routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{exact:true}">

          <fa-icon [icon]="navItem.icon" size="lg"></fa-icon>
          <p>{{navItem.title}}</p>

        </a>
      </div>
    </div>
  </nav>

</div>
