<div class="training-detail-container">

  <mat-card *ngFor="let item of selectedMuscleGroups ; let muscleGroupIndex = index">

    <mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
      <app-number-input-v [value]="item.exercises.length" (valueChanged)="setExerciseLengthValue(muscleGroupIndex , $event)"></app-number-input-v>
      <h3>Egzersiz</h3>
    </mat-card-header>

    <div class="exercise-container">
      <div [class]="'exercise'" *ngFor="let exercise of item.exercises ; let exerciseIndex = index">
        <div class="exercise-image"></div>
        <div class="exercise-content">

          <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="exercise.title" name="food">
              <mat-option *ngFor="let title of getAllExercises(item.title)" [value]="title">
                {{title}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="set-repetition-container">
            <app-number-input-v [value]="exercise.numberOfSets" (valueChanged)="setExerciseNumberOfSets(muscleGroupIndex, exerciseIndex , $event)"></app-number-input-v>
            <h3>Set</h3>
            <app-number-input-v [value]="exercise.numberOfRepetitions" (valueChanged)="setExerciseNumberOfRepetitions(muscleGroupIndex, exerciseIndex , $event)"></app-number-input-v>
            <h3>Tekrar</h3>
          </div>

          <div class="exercise-weight-container" >
            <app-number-input-h [value]="weight" (valueChanged)="setExerciseRepWeight(muscleGroupIndex, exerciseIndex , setIndex , $event)" *ngFor="let weight of exercise.repWeight ; let setIndex = index"></app-number-input-h>
          </div>
        </div>
      </div>
    </div>



  </mat-card>

</div>

