<div class="training-header">

  <div class="date">
    <mat-form-field appearance="fill">
      <mat-label>Lütfen Bir Tarih Seçin</mat-label>
      <input matInput [matDatepickerFilter]="workoutDayFilter" [formControl]="selectedDate" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker  #picker></mat-datepicker>
    </mat-form-field>

    <h3>Ne Çalıştın?</h3>
  </div>
  <button [disabled]="!this.selectedDate.valid || this.trainingGroups?.invalid" mat-stroked-button (click)="goToTrainingDetail()" *ngIf="muscleGroups.length">İleri</button>
</div>

<div class="training-container">
  <section *ngIf="trainingGroups" [formGroup]="trainingGroups">
    <mat-checkbox *ngFor="let item of muscleGroups ; let i = index" [class]="item.className"
      [formControlName]="item.title" color="primary"></mat-checkbox>
  </section>

  <h4 *ngIf="!muscleGroups.length">Lütfen 'Kas Grupları' Sayfasından bir kas grubu ekleyiniz !</h4>
</div>
