<div class="training-header">
  <h2>Bugün Ne Çalıştın?</h2>
  <button mat-stroked-button
  [routerLink]="['/training-detail']" [queryParams]="trainingGroups?.value" *ngIf="muscleGroups.length">İleri</button>
</div>

<div class="training-container">
  <section *ngIf="trainingGroups" [formGroup]="trainingGroups">
    <mat-checkbox *ngFor="let item of muscleGroups ; let i = index" [class]="item.className"
      [formControlName]="item.title" color="primary"></mat-checkbox>
  </section>

  <h4 *ngIf="!muscleGroups.length">Lütfen 'Kas Grupları' Sayfasından bir kas grubu ekleyiniz !</h4>
</div>
