<div class="training-header">

  <mat-form-field class="date" appearance="fill">
    <mat-label>Lütfen Bir Tarih Seçin</mat-label>
    <input matInput [matDatepickerFilter]="workoutDayFilter" [value]="selectedDate.value" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker  #picker></mat-datepicker>
  </mat-form-field>

  <h2>Ne Çalıştın?</h2>
  <button mat-stroked-button
  [routerLink]="['/training-detail']" [queryParams]="trainingGroups?.value" *ngIf="muscleGroups.length">İleri</button>
</div>

<div class="training-container">
  <section *ngIf="trainingGroups" [formGroup]="trainingGroups">
    <mat-checkbox *ngFor="let item of muscleGroups ; let i = index" [class]="item.className"
      [formControlName]="item.title" color="primary"></mat-checkbox>
  </section>

  <h4 *ngIf="!muscleGroups.length">Lütfen 'Kas Grupları' Sayfasından bir kas grubu ekleyiniz !</h4>
</div>
