@import "../muscle-groups.component.scss";

.detail-container{
  display: flex;
  flex-wrap: wrap;
}

.add-new-button{
  transition: width 0.1s ease-in;

  .add-new-card{
    padding: 0px;
    flex-wrap: nowrap;
  }

}

.add-new-button , .exercises{
  height: 130px;
  width: 120px;
  margin : 10px;
}

.exercises{
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding : 10px 0px;

  span{
    margin : 5px;
    overflow-wrap: break-word;
  }

  ::ng-deep .mat-button-wrapper{
    color : #FF996E;
  }
}

.width600{
  width: 600px;
  transition: width 0.15s ease-out;
}

